 <div class="content-column">
    <div class="container">

      <div class="shadow-rounded mb-5">

        <div class="card-header text-center", style="padding: 0.8rem;">
         <div class>
          <h2><%= @service.name %></h2>
            <p><strong>Session Type:</strong> <%= @service.place_type %></p>
            <p><strong>Price:</strong> <%= format_price_per_unit(@service.price_per_unit) %> EUR</p>
      </div>
 </div>
