<div class="container">
  <div class="sidebar">
    <ul>
      <li><%= link_to 'Week Availabilities', week_availabilities_path %></li>
      <!-- Ajoutez d'autres liens ici si nécessaire -->
    </ul>
  </div>



</div>
