// Specific CSS for your home-page
.wrapper-home-container {
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.img-max {
  max-height: 500px;
  height: 100%;
  // max-width: 500px;
  // width:100%;
}

.img-two-corners {
  border-radius: 25% 10%;
}

.home-icon {
  background-color: $blue-100;
  padding: 15px 15px 15px 15px;
  border-radius: 3px;
  position: relative;
  bottom: 5%;
  left: 50%;
  margin: -25px 0 0 -25px;

}

.home-subtitle {
  margin-bottom: 0;
  font-size: 1em;
  color: $primary;
}
