<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>not found page</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
  .content {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .cat-massage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  .title-text {
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    font-weight: 500;
  }
  .subtitle-text {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    margin-top: 30px;
  }
</style>
<script src=""></script>
<body>

<div class="content">
  <h1 class="title-text">Something is wrong...</h1>
  <p class="subtitle-text">...but nothing that can't be solved by a nice massage</p>
  <img class="cat-massage" src="https://media.tenor.com/bPkFjVjdJNEAAAAd/massage-cat.gif" alt="massage">
  <p class="subtitle-text">Check out Therapease!!!</p>
</div>

</body>
</html>
