.simple-calendar {
  width: 100%;
  border-collapse: collapse;
}

.simple-calendar .day {
  width: 14.28%;
  padding: 10px;
  border: 1px solid #eee;
}

.simple-calendar .weekend {
  background-color: #f7f7f7;
}

.simple-calendar .today {
  background-color: #b4d2f0;
}

.small-text {
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: #4d4d4d; /* Gray out the text */
}



.calendar-table-container {
  overflow-x: auto;
}

.calendar-day-header {
  font-weight: bold;
  background-color: #f0f0f0;
  text-align: center; /* Center align the text */
}

.calendar-day-content {
  text-align: center; /* Center align the text */
  font-size: 14px;
  color: #999; /* Gray out the text */
}

.meeting-card {
  position: absolute;
  width: 100%;
  height: auto; /* ou définissez une hauteur spécifique pour chaque réunion */
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-sizing: border-box;
}


/* for week_availabilities */

.table {
  border : hide !important;
}
.table-transparent,
.table-transparent thead th,
.table-transparent tbody td {
  position: relative;
  margin: 0px;
}

.card-header {
  background-color: lightblue;
}

.card-body {
  text-align: center;
}

.table-container {
  height: 1000px;  /* Ajustez cette valeur selon vos besoins */
  position: relative; /* pour positionner correctement les blocs de temps par rapport à ce conteneur */
}
