.simple-calendar {
  width: 100%;
  border-collapse: collapse;
}

.simple-calendar .day {
  width: 14.28%;
  padding: 10px;
  border: 1px solid #eee;
}

.simple-calendar .weekend {
  background-color: white;
}

.simple-calendar .today {
  background-color: #b4d2f0;
}

.small-text {
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: #4d4d4d; /* Gray out the text */
}


.calendar-table-container {
  overflow-x: auto;
}

.calendar-day-header {
  font-weight: bold;
  background-color: #f0f0f0;
  text-align: center; /* Center align the text */
}

.calendar-day-content {
  text-align: center; /* Center align the text */
  font-size: 14px;
  color: #999; /* Gray out the text */
}

.day-events {
  position: relative;
}

.meeting-card {
  position: absolute;
  width: 95%;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 0.5em;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  font-size: smaller;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.meeting-card a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}


.absence-card {
  position: absolute;
  width: 95%;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1em;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  color: black !important;
  overflow: hidden;
  font-size: smaller;
}

.time-slot {
  position: absolute;
  width: 100%;
  border-top: 1px solid rgba(219, 219, 219, 0.699);
  overflow: hidden;
}

.time-block-card {
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 4px 0;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.time-block-card .btn-sm {
  margin-top: 5px;
}



/* for week_availabilities */

.table {
  border : hide !important;
}
.table-transparent,
.table-transparent thead th,
.table-transparent tbody td {
  position: relative;
  margin: 0px;
}

.card-header {
  background-color: lightblue;
}

.card-body {
  text-align: center;
}

.table-container {
  height: 1000px;  /* Ajustez cette valeur selon vos besoins */
  position: relative; /* pour positionner correctement les blocs de temps par rapport à ce conteneur */
}
