.home-card-small {
}

.home-card-big {

}

.home-card-small h6 {
  color: $gray;
  font-size: small;
}

.home-card-small p {
  color: $mid-gray;
  font-size: x-small;
}

.home-card-big h6 {
  color: $gray;
  font-size: medium;
}

.home-card-big p {
  color: $mid-gray;
  font-size: small;
}
