// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "calendar";
@import "card";
@import "button";
@import "simple_calendar";
@import "icon";
@import "sidebar";
@import "package";
@import "service_card";
@import "therapist_card";
@import "status";
@import "form_custom";



.hide-content {
  display: none;
}

.no-underline {
  text-decoration: none;
  color: inherit;
}
