.navbar-lewagon {
  justify-content: space-between;
  background: #0D6EFD;
  font: 18px/1.5 "Playfair Display", "Helvetica", "san-serif"


}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}
