
.service-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  border-radius: 20px;
  background-color: white;
  min-height: 180px;;
}

.service-card .service-info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 0;
}

.service-card .image-container {
  flex: 1; /* This will make the image container take up the remaining space */
  display: flex;
  justify-content: flex-end; /* This will align the image to the right within the container */
  align-items: center; /* This will vertically center the image */
}

.service-card .service-image {
  height: 180px;
  width: 150px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  clip-path: ellipse(98% 110% at 99% 70%);
}

.service-card p {
  font-size: small;
}

.service-card .button-18 {
  color:#fff;
}

.listed-feature-service {
  color:#7d8285;
  font-size: small;
}

.service-show-image {
  border-radius: 25% 10%;
  max-width: 350px;
}

.service-show-description p {
  color:#7d8285;
  font-size: 15px;
  text-align: justify;
}
