.container {
  padding-top: 40px;
}

.container-with-sidebar {
  position: fixed;
  top: 100px;
  left: calc(280px + 40px);

  flex-shrink: 0;
  width: calc(100vw - 360px);
  height: calc(100vh - 140px);

  overflow-y: auto;
  padding: 0 40px;
}

.sidebar {
  position: fixed;
  top: 100px;
  left: 40px;

  flex-shrink: 0;
  width: 280px;
  height: calc(100vh - 140px);

  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  padding: 2em;

  overflow-y: auto;
  background-color: white;
}


.image-container-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container-sidebar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.therapist-info p {
  font-size: 0.8rem;  /* Reduce the font size */
  margin-top: 5px;    /* Reduce the space from the top */
  margin-bottom: 5px; /* Reduce the space from the bottom */
  text-align: center; /* Center the text */
}

.content-column {
  margin-left: 40px;
  margin-right: 40px;
  flex-grow: 1;
}

.shadow-rounded {
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
}



.sidebar-patient-list {
  margin-bottom: 0;
  font-size: small;
}

.sidebar-patient-list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
