.status-no-date {
}

.status-pending {
  background-color: #b38b75;
}

.status-confirmed {
  background-color: #40865d;
}

.status-cancelled {
  background-color: #464646;
}

.status-excused {
  font-style: italic;
  background-color: rgb(155, 155, 155);
}

.status-done {
  background-color: rgb(59, 129, 161);
}
