.status-pending {
    background-color: #ff6b35;
}

.status-confirmed {
    background-color: #023e7d;
}

.status-cancelled {
    background-color: #9B9B9B;
}

.status-excused {
    font-style: italic;
    background-color: #9B9B9B;
}

.status-done {
    background-color: #023e7d;
}

/* Nouveau style pour le dropdown */
.badge-status-dropdown {
  border: none;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  margin: 0;
  font-size: xx-small;
  font-weight: bolder;
  color: #ffffff;
  text-align: center;
  --bs-form-select-bg-img: none;
}

.badge-status-dropdown option {
  color: #000000 !important;
}
